html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainCircle {
  position: absolute;
  z-index: 0;

  .circle {
    stroke: rgb(207, 207, 207);
    stroke-width: '30';
    cx: '150';
    cy: '150';
    r: '100';
    fill: 'transparent';
  }
}

.progress {
  position: relative;
  z-index: 1;
}

.progressRing {
  transform-origin: center;
  transform: rotate(-90deg);
}

.params {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 30px;
}

.param {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-left: 65px;
}

.progressChangeInput {
  height: 30px;
  width: 55px;
  border-radius: 15px;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
  }
}
